﻿@model Kosmisch.Sample.OnPremisesAspnetApp.Models.User

@{
    ViewBag.Title = "Details";
    var profileFilePath = @"/temp/" + Model.ProfileImageName;
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        @if (!string.IsNullOrWhiteSpace(Model.ProfileImageName))
        {
            <dt>
                @Html.DisplayNameFor(model => model.ProfileImageName)
            </dt>

            <dd>
                <img src="@profileFilePath" height="80" width="80" />
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
